#layer1 {
    border-radius: 10px;
    position: absolute;
    left: 50px;
    top: 50px;
}
#layer2 {
    border-radius: 10px;
    position: absolute;
    left: 25px;
    top: 25px;
}
#result {
    position: absolute;
    left: 400px;
    top: 50px;
    width:100px;
    height:100px;
}

#outer-layer1{
    position: absolute;
    top: 50px;
    left: 320px;
    border-radius: 5px;
}

#outer-layer2 {
    position: absolute;
    top: 45px;
    left: 315px;
}

#color-values {
    position: absolute;
    left: 375px;
    top: 180px;
    width:100px;
    height:100px;
}
.colors {
    padding: 5px 0 5px 0;
    box-sizing: border-box;
    border: none;
    font-weight: 600;
    background: #c0c0c0;
    text-align: center;
    margin:0;
  }